<div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between mb-3">
        <h5 class="card-title mb-0">Statistiques générales</h5>
        
      </div>
    </div>
    <div class="card-body">
      <div class="row gy-3">
        <div class="col-md-3 col-6">
          <div class="d-flex align-items-center">
            <div class=" badge rounded-pill badge-light-warning me-2 p-2"><i class="fa-solid fa-clock"></i> </div>
            <div class="card-info">
              <h5 class="mb-0">{{avgReparationDaysDuration | number}} jours</h5>
              <small>Durée moyenne pour une réparation</small>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            Transactions
        </h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <label for="">Statistiques par:</label>
                <select [(ngModel)]="groupByType" class="form-control">
                    <option value="month">mois</option>
                    <option value="year">an</option>
                </select>
            </div>
            <div class="col-4" *ngIf="groupByType === 'month'">
                <label for="">Mois:</label>
                <input [(ngModel)]="groupByValueLimitMonth" type="month" class="form-control">
            </div>
            <div class="col-4" *ngIf="groupByType === 'year'">
                <label for="">Annee:</label>
                <input [(ngModel)]="groupByValueLimitYear" type="number" step="1" class="form-control">
            </div>
        </div>
        <div class="mt-3 row">
            <div class="d-flex justify-content-center col-8">
                <app-gen-button [text]="'Voir'" [disabled]="!isValidForm()" [isLoading]="isLoading" (click)="fetch()"></app-gen-button>
               
            </div>
            
        </div>
        <div class="mt-3 row">
            <div class="col-12">

                <p class="text-center" *ngIf="results && results.length === 0">
                    Aucun resultat
                </p>
                <table class="table table-bordered table-responsive" *ngIf="results && results.length !== 0">
                    <thead>
                        <tr>
                            <th>{{groupByType === 'month' ? 'Jour': 'Mois' }}</th>
                            <th>Chiffre d'affaires</th>
                            <th>Dépenses</th>
                            <th>Bénéfices</th>
                            <th>Nombre de voitures reparées</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of results">
                            <td>{{row.dateKey}}</td>
                            <td>{{row.ca | number : env.pipe.number}} {{env.currency}}</td>
                            <td>{{row.expenses | number : env.pipe.number}} {{env.currency}}</td>
                            <td>{{row.benef | number : env.pipe.number}} {{env.currency}}</td>
                            <td>{{row.repairCount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>