<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item me-auto">
                <a class="navbar-brand" routerLink="/client">
                    <span class="brand-logo">
                        <img src="assets/img/logo/logo-kojao.png" alt="">
                    </span>
                    <h2 class="brand-text">K-OJAO</h2>
                </a>
            </li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a class="d-flex align-items-center" routerLink="/client">
                    <i class="fa-solid fa-house"></i>
                    <span class="menu-title text-truncate" data-i18n="Dashboards">
                        Voitures
                    </span>
                </a>
            </li>
            <li class=" nav-item">
                <a class="d-flex align-items-center" routerLink="/client/offers">
                    <i class="fa-solid fa-tag"></i>
                    <span class="menu-title text-truncate" data-i18n="Dashboards">
                        Nos offres
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- END: Main Menu-->