<span *ngIf="status === carStatus.inCirculation" class="badge rounded-pill badge-light-primary me-1">En circulation</span>
<span *ngIf="status ===  carStatus.deposited" class="badge rounded-pill badge-light-warning me-1">En cours de reception</span>
<span *ngIf="status ===  carStatus.inReparation" class="badge rounded-pill badge-light-success me-1">En cours de reparation</span>
<span *ngIf="status ===  carStatus.waitExit" class="badge rounded-pill badge-light-warning me-1">En cours de sortie</span>
                                
