<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item me-auto">
                <a class="navbar-brand" routerLink="/admin/atelier">
                    <span class="brand-logo">
                        <img src="assets/img/logo/logo-kojao.png" alt="">
                    </span>
                    <h2 class="brand-text">K-OJAO</h2>
                </a>
            </li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a class="d-flex align-items-center" routerLink="/admin/atelier">
                    <i class="fa-solid fa-house"></i>
                    <span class="menu-title text-truncate">
                        Réception voiture
                    </span>
                </a>
            </li>
            <li class=" nav-item">
                <a class="d-flex align-items-center" routerLink="/admin/atelier/reparation">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <span class="menu-title text-truncate">
                        Réparation
                    </span>
                </a>
            </li>
            <li class=" nav-item">
                <a class="d-flex align-items-center" routerLink="/admin/atelier/historic">
                    <i class="fa-solid fa-book-open"></i>
                    <span class="menu-title text-truncate">
                        Historique
                    </span>
                </a>
            </li>
            <li class=" nav-item">
                <a class="d-flex align-items-center" routerLink="/admin/atelier/settings/default-repair">
                    <i class="fa-solid fa-tag"></i>
                    <span class="menu-item text-truncate" data-i18n="List">
                        Paramétrage offres
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- END: Main Menu-->