<table class="table table-bordered dataTable">
    <thead>
        <tr>
            <ng-container *ngFor="let header of headers">
                <th
                    *ngIf="header.isSortable"
                    [ngClass]="getSortElmtClass(header.selector)"
                    (click)="handleSort(header.selector)"
                >
                    {{ header.title }}
                </th>
                <th
                    *ngIf="!header.isSortable"
                >
                    {{ header.title }}
                </th>
            </ng-container>
           
            <th *ngIf="hasActionOptions()">
                Actions
            </th>
        </tr>
    </thead>
    <ng-container style="min-height: 500px;" *ngIf="isLoading">
        <div class="w-100 d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
              
            </div>
          </div>
    </ng-container>
    <ng-container  *ngIf="!isLoading && (!dataList || dataList.length === 0) ">
        <div class="w-100 text-center">
            Aucune liste à afficher
        </div>
    </ng-container>
    <tbody>
      
        <ng-container *ngIf="!isLoading && dataList && dataList.length > 0">
            <tr *ngFor="let row of dataList">
                <td *ngFor="let header of headers">
                    <span *ngIf="!header.template">
                        <container-element [ngSwitch]="getType(header)">
                            <span *ngSwitchCase="'date'">
                                {{ getBySelector(row, header.selector) | date:'medium' }}
                            </span>
                            <span *ngSwitchDefault>
                                {{ getBySelector(row, header.selector) }}
                            </span>
                        </container-element>
                    </span>
                    <ng-container 
                        *ngIf="header.template" 
                        [ngTemplateOutlet]="header.template" 
                        [ngTemplateOutletContext]="{row, value:getBySelector(row, header.selector)}"> 
                    </ng-container>
                </td>
                <td *ngIf="hasActionOptions()" class="text-center">
                    <div class="dropdown">
                        <button type="button" class="btn btn-sm dropdown-toggle hide-arrow py-0" data-bs-toggle="dropdown">
                            <i data-feather="more-vertical"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a *ngIf="actionOptions?.updateMethod" (click)="onUpdateClick(row)" class="dropdown-item">
                                <i data-feather='edit' class="me-50"></i>
                                <span>Modifier</span>
                            </a>
                            <a *ngIf="actionOptions?.deleteMethod" (click)="onDeleteClick(row)" class="dropdown-item">
                                <i data-feather='trash' class="me-50"></i>
                                <span>Supprimer</span>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-container>
      
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-4"  *ngIf="paginationElmts.length !== 2">
        <li 
            *ngFor="let paginationElmt of paginationElmts" 
            [ngClass]="getPaginationElmtClass(paginationElmt)"
            (click)="goToPage(paginationElmt)"
            ><a class="page-link"> {{ (paginationElmt.type === 'number')? paginationElmt.page : '' }} </a>
        </li>
    </ul>
</nav>
